@page "/"

@inject NavigationManager NavigationManager
@inject HttpClient Http

<PageTitle>Index</PageTitle>


<h1>Choose Your Game</h1>
<div class="button-box">
    <div class="grid-container">
        <button class="grid-item" @onclick="GotoPlanningPoker">Planning Poker</button>
        <button class="grid-item" @onclick="GotoFetchData">Count Down</button>
        <button class="grid-item" @onclick="GotoCounter">Up and Down</button>
        <button class="grid-item" @onclick="GotoWouldYouRather">Guess Who</button>
        <button class="grid-item">Have Game Code</button>
        <input class="grid-item"  type="text"  />
    </div>
</div>
<label for="fname">Version: </label>
<input class="no-border" @bind="@GitHash" readonly />
@code {

    public string GitHash { get; set; } = string.Empty;
    

    private void GotoFetchData() => NavigationManager.NavigateTo("planningpoker");
    private void GotoCounter() => NavigationManager.NavigateTo("counter"); 
    private void GotoWouldYouRather() => NavigationManager.NavigateTo("wouldyourather");
    private void GotoPlanningPoker() => NavigationManager.NavigateTo("planningpoker");

    protected override async Task OnInitializedAsync()
    {
        GitHash = await Http.GetStringAsync("GitHash");
    }
}