@page "/planningpokergame/{gamecode}/{username}"

@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.RegularExpressions;
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject HttpClient Http
@inject IJSRuntime JSRuntime

@implements IAsyncDisposable

<PageTitle>Planning Poker!</PageTitle>
<style>
    

div.page-banner
{
    color: rebeccapurple;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40pt;
}

div.planning-poker-container {
    background: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

label.game-code {
    color: lightgoldenrodyellow;
    font-size: 40pt;
    font-family: Courier New, Courier, monospace;
    font-weight:bolder;
}

</style>


<div class="planning-poker-container">

<div class="page-banner">
    Planning Poker is in Progress
</div>
<div class="form-group">

    <label>Hello  </label>
    <label class="game-code">@(Username)</label>
</div>
</div>

@code {
    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private string? messageInput;
    private string? _gameCode;
    const int MAX_PLAYERS = 2;
    private string errorGameCodeWrongFormat  = "Use 1 letter game code.";
    private string errorGameCodeDoesNotExist =  "Game does not exist.";
    private string errorGameIsFull =  "Sorry, game is full";

    [Parameter]
    public string? Gamecode
    {
        get => _gameCode;
        set => _gameCode = value?.ToUpper();
    }

    [Parameter]
    public string? Username { get; set; }


    const string PLAYER_NAME_STORAGE_KEY = "gamebox.playername";

    private string _playerName = string.Empty;
    private string PlayerName { 
        get => _playerName;
        set
        {
            _playerName = value;
            LocalStorage.SetItemAsync(PLAYER_NAME_STORAGE_KEY, PlayerName);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Gamecode == "NEWGAME")
        {
            Gamecode = await Http.GetStringAsync("GameCoordinator/gamecode");
            //await JoinGame();
        }
        else
        {
            if (!Regex.IsMatch(Gamecode!, "^[A-Z]{1}$"))
            {
                var navoptions = new NavigationOptions();
                NavigationManager.NavigateTo( Uri.EscapeDataString($"{errorGameCodeWrongFormat}"));
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/planningpokerhub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessage", _playerName, messageInput, _gameCode);
        }
    }

    private async Task JoinGame()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("JoinGame", _playerName, Gamecode);
        }
    }


    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}