@page "/planningpoker/setup/{gamecode}"

@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.RegularExpressions;
@using gamebox.Client.Models;
@using System.Text.Json;

@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject HttpClient Http
@inject IJSRuntime JSRuntime

@implements IAsyncDisposable

<PageTitle>Setting Up Planning Poker</PageTitle>
<style>
    

div.page-banner
{
    color: rebeccapurple;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40pt;
}

div.planning-poker-container {
    background: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

label.game-code {
    color: lightgoldenrodyellow;
    font-size: 40pt;
    font-family: Courier New, Courier, monospace;
    font-weight:bolder;
}

</style>


<div class="planning-poker-container">

<div class="page-banner">
    Setting Up Planning Poker
</div>
<div class="form-group">


<ul>
    @foreach (var player in Players)
    {
        <li>@player</li>
    }
</ul>


</div>
</div>

@code {
    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private string? messageInput;
    private string? _gameCode;
    private PokerPlanningGameInfo gameInfo = new();
    private List<string> Players = new();

    [Parameter]
    public string? Gamecode
    {
        get => _gameCode;
        set => _gameCode = value?.ToUpper();
    }

    const string PLAYER_NAME_STORAGE_KEY = "gamebox.playername";

    private string _playerName = string.Empty;
    private string PlayerName { 
        get => _playerName;
        set
        {
            _playerName = value;
            LocalStorage.SetItemAsync(PLAYER_NAME_STORAGE_KEY, PlayerName);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        RefreshGameInfoAsync();
    }


    private void RefreshGameInfoAsync()
    {
        PokerPlanningGameInfo? gameInfo = null;
        //try
        //{
        //    gameInfo = await Http.GetFromJsonAsync<PokerPlanningGameInfo>($"GameCoordinator/{Gamecode}");
        //}
        //catch { }

        //foreach (var player in gameInfo.Players)
        //    Players.Add(player);
    }


    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/planningpokerhub"))
            .Build();

            
        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        hubConnection.On<string>("BroadcastGameInfo", (value) =>
        {
            RefreshGameInfoAsync();
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    private async Task BroadcastGameInfoAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("BroadcastGameInfo", _gameCode);
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        //if (hubConnection is not null)
        //{
        //    await hubConnection.DisposeAsync();
        //}
    }
}