@page "/planningpoker/signup"
@page "/planningpoker/signup/{gamecode}"

@using Microsoft.AspNetCore.SignalR.Client;
@using System.Text.RegularExpressions;
@using gamebox.Client.Models;
@using System.Text.Json;

@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<PageTitle>Planning Poker!</PageTitle>
<style>
    

div.page-banner
{
    color: rebeccapurple;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40pt;
}

div.planning-poker-container {
    background: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

label.game-code {
    color: lightgoldenrodyellow;
    font-size: 40pt;
    font-family: Courier New, Courier, monospace;
    font-weight:bolder;
}

</style>


<div class="planning-poker-container">

<div class="page-banner">
    Welcome to Planning Poker
</div>
<div class="form-group">

    <label>Game Code: </label>
    <label class="game-code">@(_gameCode)</label>
</div>
<div class="form-group">
    <label>
        What is your Name?
        <input @bind="PlayerName" @bind:event="oninput" />
    </label>
</div>
<div class="button-box">
    <div class="grid-container">
        <button class="grid-item" @onclick="GotoJoinAsPlayer" disabled="@IsJoinDisabled">Join As Player</button>
        <button class="grid-item" @onclick="GotoJoinAsSpectator" disabled="@IsJoinDisabled">Join As Spectator</button>
    </div>
</div>
</div>

@code {
    private string? _gameCode;
    const int MAX_PLAYERS = 2;
    private string errorGameCodeWrongFormat  = "Use 1 letter game code.";
    private string errorGameCodeDoesNotExist =  "Game does not exist.";
    private string errorGameIsFull =  "Sorry, game is full";
    protected bool IsJoinDisabled {
        get => string.IsNullOrWhiteSpace(PlayerName);
    }

    [Parameter]
    public string? Gamecode
    {
        get => _gameCode;
        set => _gameCode = value?.ToUpper();
    }


    const string PLAYER_NAME_STORAGE_KEY = "gamebox.playername";
    enum PlayerType {PLAYER, SPECTATOR};

    private string _playerName = string.Empty;
    private string PlayerName { 
        get => _playerName;
        set
        {
            _playerName = value;
            LocalStorage.SetItemAsync(PLAYER_NAME_STORAGE_KEY, PlayerName);
        }
    }

    private async Task GotoJoinAsPlayer() => await JoinGame(PlayerType.PLAYER);
    private async Task GotoJoinAsSpectator() => await JoinGame(PlayerType.SPECTATOR);

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrWhiteSpace(Gamecode))
        {
            Gamecode = await Http.GetStringAsync("GameCoordinator/gamecode");
            NavigationManager.NavigateTo($"planningpoker/signup/{_gameCode}");
        }
        else
        {
            if (!Regex.IsMatch(Gamecode!, "[A-Z]{1}"))
            {
                NavigationManager.NavigateTo( Uri.EscapeDataString($"{errorGameCodeWrongFormat}"));
            }
        }
    }

    private async Task JoinGame(PlayerType playerType)
    {
        PokerPlanningGameInfo? gameInfo = null;
        try
        {
            gameInfo = await Http.GetFromJsonAsync<PokerPlanningGameInfo>($"GameCoordinator/{Gamecode}");
        }
        catch { }

        if (gameInfo == null)
            gameInfo = new PokerPlanningGameInfo();

        // Return with error if game is full
        if (playerType == PlayerType.PLAYER && gameInfo.Players.Count >= MAX_PLAYERS)
        {
            NavigationManager.NavigateTo(Uri.EscapeDataString($"{errorGameIsFull}"));
        }

        // Add Player or Spectator, only if they haven't been added previously
        if (gameInfo.Players.All(p => string.Compare(p, PlayerName, StringComparison.InvariantCultureIgnoreCase) != 0)
            && gameInfo.Spectators.All(p => string.Compare(p, PlayerName, StringComparison.InvariantCultureIgnoreCase) != 0))
        {
            if (playerType == PlayerType.PLAYER)
            {
                gameInfo.Players.Add(PlayerName);
            }
            else
            {
                gameInfo.Spectators.Add(PlayerName);
            }
            try
            {
                string json = System.Text.Json.JsonSerializer.Serialize(gameInfo);
                var content = new StringContent(json, System.Text.Encoding.UTF8, "text/plain");
                await Http.PostAsync($"GameCoordinator/{Gamecode}", content);
            }
            catch (Exception ex)
            {

            }
            NavigationManager.NavigateTo($"planningpoker/setup/{_gameCode}");
        }
    }
}